/* rest styles */
header, article, h1, p {
    padding: 0;
    margin: 0;
    border: 0;
}

/* body bg setup */
body {
    background-image: url("images/paper_background.jpg");
    background-size: 100%;
}

/* center main content */
.container {
    max-width: 750px;
    align-content: center;
    margin: 0 auto;
}

/* header stuff */
header p {
    text-align: right;
}

    header h1 {
        text-align: center;
        padding: 20px 0 20px 0;
    }

/* play button */
.playbutton {
    text-align: center;
    width: 100%;
}

.playbutton input {
    width: 100px;
    height: 50px;
    box-shadow: black 2px 2px;
}

.playbutton input:active {
    position: relative;
    left: 2px;
    top: 2px;
    box-shadow: none;
}

/* article stuff */
article {
    text-align: center;
    padding-top: 20px;
    width: 100%;
}
